<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation" style="margin-top: -70px;background-color:rgb(57, 73, 171);">   
    <div class="navbar-header">
      <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
        data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
        data-toggle="collapse">
        <i class="icon md-more" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
        <img class="navbar-brand-logo" src="../../assets/images/logo4.1.png" title="Gestion Cabinet">
        <span class="navbar-brand-text hidden-xs-down"> Gestion Cabinet</span>
      </div>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
        data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon md-search" aria-hidden="true"></i>
      </button>
    </div>

    <div class="navbar-container container-fluid" style="background-color:rgb(57, 73, 171);">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="nav-item hidden-float" id="toggleMenubar">
            <a class="nav-link" data-toggle="menubar" href="#" role="button">
                <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
              </a>
          </li>
          <li class="nav-item hidden-float">
            <a class="nav-link icon md-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
              role="button">
              <span class="sr-only">Toggle Search</span>
            </a>
          </li> 
        </ul>
        <!-- End Navbar Toolbar -->

        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
              aria-expanded="false" role="button">
              <span class="flag-icon flag-icon-us"></span>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" style="width: 92.5%;" (click)="useLanguage('fr')" role="menuitem">
                <span class="flag-icon flag-icon-fr"></span> French</a>
              <a class="dropdown-item" style="width: 92.5%;" (click)="useLanguage('en')" role="menuitem">
                <span class="flag-icon flag-icon-gb"></span> English</a>
              <a class="dropdown-item" style="width: 92.5%;" (click)="useLanguage('de')" role="menuitem">
                <span class="flag-icon flag-icon-de"></span> German</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
              data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <img src="../../assets/images/default-avatar.jpg" alt="../../assets.">
                <i></i>
              </span>
            </a>
            <div class="dropdown-menu" role="menu"  *ngIf="isSuperAdmin()">
              <a class="dropdown-item" role="menuitem" style="width: 94%;" routerLink="/admin"><i class="icon md-account" 
                aria-hidden="true"></i> Profil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="width: 94%;" (click)="logout()"><i class="icon md-power" aria-hidden="true"></i> Se déconnecter</a>
            </div>
            <div class="dropdown-menu" role="menu"  *ngIf="isMedecin()">
              <a class="dropdown-item" role="menuitem" style="width: 94%;" routerLink="/medecin/profil"><i class="icon md-account" 
                aria-hidden="true"></i> Profil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="width: 94%;" (click)="logout()"><i class="icon md-power" aria-hidden="true"></i> Se déconnecter</a>
            </div>
            <div class="dropdown-menu" role="menu"  *ngIf="isPatient()">
              <a class="dropdown-item" role="menuitem" style="width: 94%;" routerLink="/patient/profil"><i class="icon md-account" 
                aria-hidden="true"></i> Profil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="width: 94%;" (click)="logout()"><i class="icon md-power" aria-hidden="true"></i> Se déconnecter</a>
            </div>
            <div class="dropdown-menu" role="menu"  *ngIf="isSecretaire()">
              <a class="dropdown-item" role="menuitem" style="width: 94%;" routerLink="/secretaire/profil"><i class="icon md-account" 
                aria-hidden="true"></i> Profil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="width: 94%;" (click)="logout()"><i class="icon md-power" aria-hidden="true"></i> Se déconnecter</a>
            </div>
          </li>
        </ul>
        <!-- End Navbar Toolbar Right -->

        <div class="navbar-brand navbar-brand-center">
          <a href="index.html">
            <img class="navbar-brand-logo" src="../../assets/images/logo4.1.png"
              title="Gestion Cabinet" style="height: 45px;">
          </a>
        </div>
      </div>
      <!-- End Navbar Collapse -->

      <!-- Site Navbar Seach -->
      <div class="collapse navbar-search-overlap" id="site-navbar-search">
        <form role="search">
          <div class="form-group">
            <div class="input-search">
              <i class="input-search-icon md-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="site-search" placeholder="Search../../assets.">
              <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
                data-toggle="collapse" aria-label="Close"></button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Site Navbar Seach -->
    </div>
  </nav>
  <div class="site-menubar">
    <div class="site-menubar-header" style="height:11px">
    </div>

    <div class="site-menubar-body">
      <div>
        <div>
          <ul class="site-menu" data-plugin="menu" *ngIf="isMedecin()">
            <li class="site-menu-item active">
              <a routerLink="/medecin/rendezVous">
                <i class="site-menu-icon md-view-list" aria-hidden="true"></i>
                <span class="site-menu-title">Gestion des consultations</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/medecin/secretaires">
                <i class="site-menu-icon md-accounts" aria-hidden="true"></i>
                <span class="site-menu-title">Gestion des secretaires</span>
              </a>
            </li>
          </ul>
          <ul class="site-menu" data-plugin="menu" *ngIf="isSecretaire()">
            <li class="site-menu-item active">
              <a routerLink="/secretaire/rendezVous">
                <i class="site-menu-icon md-calendar-alt" aria-hidden="true"></i>
                <span class="site-menu-title">Gestion des rendez-vous</span>
              </a>
            </li>
          </ul>
          <ul class="site-menu" data-plugin="menu" *ngIf="isPatient()">
            <!-- <li class="site-menu-item active">
              <a routerLink="/secretaire/rendezVous">
                <i class="site-menu-icon md-calendar-alt" aria-hidden="true"></i>
                <span class="site-menu-title">Gestion des rendez-vous</span>
              </a>
            </li> -->
          </ul>
          <ul class="site-menu" data-plugin="menu" *ngIf="isSuperAdmin()">
            <li class="site-menu-item active">
              <a routerLink="/admin">
                <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Dashboard</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/admin/roles">
                <i class="site-menu-icon md-account-box-o" aria-hidden="true"></i>
                <span class="site-menu-title">Roles</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/admin/specialites">
                <i class="site-menu-icon md-wrench" aria-hidden="true"></i>
                <span class="site-menu-title">Spécialités</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/admin/typesAnalyses">
                <i class="site-menu-icon md-file-text" aria-hidden="true"></i>
                <span class="site-menu-title">Types d'Analyses</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/admin/typesImagesRadios">
                <i class="site-menu-icon md-file-text" aria-hidden="true"></i>
                <span class="site-menu-title">Types d'Images Radios</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
