<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation" style="margin-top: -70px;background-color:rgb(57, 73, 171);">   
    <div class="navbar-header">
      <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
        data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
        data-toggle="collapse">
        <i class="icon md-more" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
        <img class="navbar-brand-logo" src="../../assets/images/logo4.1.png" title="Gestion Cabinet">
        <span class="navbar-brand-text hidden-xs-down"> Gestion Cabinet</span>
      </div>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
        data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon md-search" aria-hidden="true"></i>
      </button>
    </div>

    <div class="navbar-container container-fluid" style="background-color:rgb(57, 73, 171);">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="nav-item hidden-float">
            <a class="nav-link" data-toggle="menubar" href="#" role="button" style="color: white;">
                <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only" style="background-color: white;">Toggle menubar</span>
                  <span class="hamburger-bar" style="background-color: white;"></span>
                </i>
              </a>
          </li>
          
        </ul>
        <!-- End Navbar Toolbar -->

        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
              aria-expanded="false" role="button">
              <span class="flag-icon flag-icon-us"></span>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" style="width: 92.5%;" (click)="useLanguage('fr')" role="menuitem">
                <span class="flag-icon flag-icon-fr"></span> {{ 'header.french' | translate }}</a>
              <a class="dropdown-item" style="width: 92.5%;" (click)="useLanguage('en')" role="menuitem">
                <span class="flag-icon flag-icon-gb"></span> {{ 'header.english' | translate }}</a>
              <a class="dropdown-item" style="width: 92.5%;" (click)="useLanguage('de')" role="menuitem">
                <span class="flag-icon flag-icon-de"></span> {{ 'header.german' | translate }}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
              data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <img src="../../assets/images/default-avatar.jpg" alt="../../assets.">
                <i></i>
              </span>
            </a>
            <div class="dropdown-menu" role="menu"  *ngIf="isSuperAdmin()">
              <a class="dropdown-item" role="menuitem" style="width: 94%;" routerLink="/superAdmin/profil"><i class="icon md-account" 
                aria-hidden="true"></i> {{ 'header.profile' | translate }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="width: 94%;" (click)="logout()"><i class="icon md-power" aria-hidden="true"></i> {{ 'header.logout' | translate }}</a>
            </div>
            <div class="dropdown-menu" role="menu"  *ngIf="isMedecin()">
              <a class="dropdown-item" role="menuitem" style="width: 94%;" routerLink="/medecin/profil"><i class="icon md-account" 
                aria-hidden="true"></i> {{ 'header.profile' | translate }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="width: 94%;" (click)="logout()"><i class="icon md-power" aria-hidden="true"></i> {{ 'header.logout' | translate }}</a>
            </div>
            <div class="dropdown-menu" role="menu"  *ngIf="isPatient()">
              <a class="dropdown-item" role="menuitem" style="width: 94%;" routerLink="/patient/profil"><i class="icon md-account" 
                aria-hidden="true"></i> {{ 'header.profile' | translate }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="width: 94%;" (click)="logout()"><i class="icon md-power" aria-hidden="true"></i> {{ 'header.logout' | translate }}</a>
            </div>
            <div class="dropdown-menu" role="menu"  *ngIf="isSecretaire()">
              <a class="dropdown-item" role="menuitem" style="width: 94%;" routerLink="/secretaire/profil"><i class="icon md-account" 
                aria-hidden="true"></i> {{ 'header.profile' | translate }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="width: 94%;" (click)="logout()"><i class="icon md-power" aria-hidden="true"></i> {{ 'header.logout' | translate }}</a>
            </div>
          </li>
        </ul>
        <!-- End Navbar Toolbar Right -->

        <div class="navbar-brand navbar-brand-center" *ngIf="isSuperAdmin()">
          <a routerLink="/superAdmin">
            <img class="navbar-brand-logo" src="../../assets/images/logo4.1.png"
              title="Gestion Cabinet" style="height: 45px;">
          </a>
        </div>
        <div class="navbar-brand navbar-brand-center" *ngIf="!isSuperAdmin()">
          <a>
            <img class="navbar-brand-logo" src="../../assets/images/logo4.1.png"
              title="Gestion Cabinet" style="height: 45px;">
          </a>
        </div>
      </div>
      <!-- End Navbar Collapse -->
    </div>
  </nav>
  <div class="site-menubar">
    <div class="site-menubar-header">
      <div class="cover overlay">
        <img class="cover-image" src="../../assets/examples/images/dashboard-header.jpg"
          alt="...">
        <div class="overlay-panel vertical-align overlay-background">
        </div>
    </div>
    </div>
    <div class="site-menubar-body">
      <div>
        <div>
          <ul class="site-menu" data-plugin="menu" *ngIf="isMedecin()">
            <li class="site-menu-item" routerLinkActive="active">
              <a routerLink="/medecin/rendezVous">
                <i class="site-menu-icon md-view-list" aria-hidden="true"></i>
                <span style="max-width: 180px;" class="site-menu-title" >{{ 'header.medecin.title1' | translate }}</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/medecin/secretaires" routerLinkActive="active">
                <i class="site-menu-icon md-accounts" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.medecin.title2' | translate }}</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/medecin/patients" routerLinkActive="active">
                <i class="site-menu-icon md-accounts" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.medecin.title3' | translate }}</span>
              </a>
            </li>
          </ul>
          <ul class="site-menu" data-plugin="menu" *ngIf="isSecretaire()">
            <li class="site-menu-item">
              <a routerLink="/secretaire/rendezVous" routerLinkActive="active">
                <i class="site-menu-icon md-calendar-alt" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.secretaire.title1' | translate }}</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/secretaire/patients" routerLinkActive="active">
                <i class="site-menu-icon md-accounts" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.secretaire.title2' | translate }}</span>
              </a>
            </li>
          </ul>
          <ul class="site-menu" data-plugin="menu" *ngIf="isPatient()">
            <li class="site-menu-item">
              <a routerLink="/patient/rendezVous" routerLinkActive="active">
                <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.patient.title1' | translate }}</span>
              </a>
            </li>
          </ul>
          <ul class="site-menu" data-plugin="menu" *ngIf="isSuperAdmin()">
            <li class="site-menu-item">
              <a routerLink="/superAdmin" routerLinkActive="active">
                <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.admin.title1' | translate }}</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/superAdmin/roles" routerLinkActive="active" class="nav-link">
                <i class="site-menu-icon md-account-box-o" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.admin.title2' | translate }}</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/superAdmin/specialites" routerLinkActive="active" class="nav-link">
                <i class="site-menu-icon md-wrench" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.admin.title3' | translate }}</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/superAdmin/typesAnalyses" routerLinkActive="active" class="nav-link">
                <i class="site-menu-icon md-file-text" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.admin.title4' | translate }}</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/superAdmin/typesImagesRadios" routerLinkActive="active" class="nav-link">
                <i class="site-menu-icon md-file-text" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.admin.title5' | translate }}</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/superAdmin/medecins" routerLinkActive="active" class="nav-link">
                <i class="site-menu-icon md-accounts-list-alt" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.admin.title6' | translate }}</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/superAdmin/patients" routerLinkActive="active" class="nav-link">
                <i class="site-menu-icon md-accounts-list-alt" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.admin.title7' | translate }}</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a routerLink="/superAdmin/medicaments" routerLinkActive="active" class="nav-link">
                <i class="site-menu-icon md-drink" aria-hidden="true"></i>
                <span class="site-menu-title">{{ 'header.admin.title8' | translate }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
