<div class="panel">
    <div class="panel-heading">
      <h2 class="panel-title">{{ 'rdv.title' | translate }}</h2>
      <div class="page-header-actions row" *ngIf="!isEmpty">
        <div class="col-md-6">
          <select class="browser-default custom-select form-control" style="height: auto;" #etat (change)="filterByEtat(etat)">
            <option>Tous les états</option>
            <option>Non consulté</option>
            <option>Consulté</option>
            <option>Annulé</option>
          </select>
        </div>
        <div class="col-md-6">
          <form action="#" method="post">
            <div class="input-search input-search-dark">
              <i class="input-search-icon md-search" aria-hidden="true"></i>
              <input type="text" [(ngModel)]="term" class="form-control" name="search" placeholder="{{ 'search.placeholder' | translate }}...">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="panel-body" style="margin-top: 30px;">
      <table class="table">
        <thead>
          <tr *ngIf="!isEmpty">
            <th style="width: 9%;"></th>
            <th>{{ 'rdv.state' | translate }}</th>
            <th>{{ 'rdv.date' | translate }}</th>
            <th>{{ 'rdv.hour' | translate }}</th>
            <th style="width: 15%;">{{ 'register.action' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rdv of rdvs  | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage } | filter:term; let i=index;">
            <td style="font-weight: 600;color: #616161;">{{ itemsPerPage * (currentPage - 1) + (i+1) }} </td>
            <td class="work-status" *ngIf = "rdv?.etat == 'Annulé'">
              <span class="badge badge-danger" style="font-size: 12px;">{{rdv?.etat}}</span>
            </td>
            <td class="work-status" *ngIf = "rdv?.etat == 'Consulté'">
              <span class="badge badge-success" style="font-size: 12px;">{{rdv?.etat}}</span>
            </td>
            <td class="work-status" *ngIf = "rdv?.etat == 'Non consulté'">
              <span class="badge badge-primary" style="font-size: 12px;">{{rdv?.etat}}</span>
            </td>
            <td class="subject">
              <i class="icon md-calendar"></i>&nbsp;{{rdv?.date | date:'dd/MM/yyyy'}}              
            </td>
            <td class="work-progress">
              <i class="icon md-time"></i>&nbsp;{{rdv?.heure | date:'shortTime'}}
            </td>
            <td class="actions" *ngIf = "rdv?.etat == 'Consulté'">
              <button id="AfficherBtn" type="button" class="btn  btn-icon"
              style="width: 200px;
              height: 35px;
              font-size: 13px;
              font-weight: 500;
              color: #4caf50;
              background-color: #fff;"
              (click)="AfficherConsultation(rdv?.id)">
              {{ 'rdv.showBtn' | translate }}
              </button>
            </td>
            <td class="actions" *ngIf = "rdv?.etat == 'Annulé' || rdv?.etat == 'Non consulté'"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">
      <nav *ngIf="!isEmpty">
        <ul class="pagination page-item" style="margin-left: 40%;">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </ul>
      </nav>
    </div>
  </div>
<!-- Plugins For This Page -->
<script src="../../../assets/global/vendor/slidepanel/jquery-slidePanel.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/vendor/chartist/chartist.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/vendor/jquery-selective/jquery-selective.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/vendor/aspaginator/jquery-asPaginator.minfd53.js?v4.0.1"></script>

<!-- Page -->
<script src="../../../assets/js/Site.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/js/Plugin/asscrollable.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/js/Plugin/slidepanel.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/js/Plugin/switchery.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/js/Plugin/aspaginator.minfd53.js?v4.0.1"></script>
<script src="../../../assets/js/BaseApp.minfd53.js?v4.0.1"></script>
<script src="../../../assets/js/App/Work.minfd53.js?v4.0.1"></script>
<script src="../../../assets/examples/js/apps/work.minfd53.js?v4.0.1"></script>