 <!-- Panel -->
 <div class="panel">
    <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
      <ul class="nav nav-tabs nav-tabs-line" role="tablist">
        <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#profile" aria-controls="profile"
            role="tab">Informations</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#activities"
            aria-controls="activities" role="tab">Informations Professionnelles</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane  animation-slide-left" id="activities" role="tabpanel">
          <!-- Example Basic Form (Form row) -->
      <div class="example-wrap" style="margin: 70PX 100PX 90PX 100PX;">
        <div class="example">
        </div>
      </div>
      <!-- End Example Basic Form (Form row) -->
        </div>

        <div class="tab-pane active animation-slide-left" id="profile" role="tabpanel">
            <!-- Example Basic Form (Form row) -->
      <div class="example-wrap" style="margin: 70PX 80PX 80PX 80PX;">
        <div class="example">
          <form autocomplete="off">
            <div class="form-row">
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicFirstName">Nom</label>
                <input type="text" class="form-control" id="inputBasicFirstName" 
                #nom1 value="{{user?.nom}}" autocomplete="off" />
              </div>
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Prénom</label>
                <input type="text" class="form-control" id="inputBasicLastName" 
                #prenom1 value="{{user?.prenom}}" autocomplete="off" />
              </div>
            </div>
          <div class="form-row">
           <div class="dropdown form-group form-material col-md-6" >
            <label class="form-control-label" for="inputBasicGenre">Genre</label>
            <button class="btn btn-secondary dropdown-toggle col-md-12" type="button" id="inputBasicGenre" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="background-color: white;color: black;border-color: #d0d0d0;" >
            {{ getGenre(user?.genre)}}   
            </button>
            <div class="dropdown-menu" aria-labelledby="inputBasicGenre" style="WIDTH: 97%">
              <a class="dropdown-item col-lg-11" #femme style="cursor: pointer;" (click)="setGenre(femme)">Femme</a>
              <a class="dropdown-item col-lg-11" #homme style="cursor: pointer;" (click)="setGenre(homme)">Homme</a>
            </div>
            </div>
            <div class="dropdown form-group form-material col-md-6" >
              <label class="form-control-label" for="inputBasicLangue">La version de l'application</label><br>
              <button class="btn btn-secondary dropdown-toggle col-md-12" type="button" id="inputBasicLangue" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              style="background-color: white;color: black;border-color: #d0d0d0;">
              {{ getLangue(user?.langue)}}   
              </button>
              <div class="dropdown-menu" aria-labelledby="inputBasicLangue" style="WIDTH: 97%">
                <a class="dropdown-item col-lg-11" #fr style="cursor: pointer;" (click)="setLangue(fr)">Français</a>
                <a class="dropdown-item col-lg-11" #en style="cursor: pointer;" (click)="setLangue(en)">Anglais</a>
                <a class="dropdown-item col-lg-11" #de style="cursor: pointer;" (click)="setLangue(de)">Allemand</a>
              </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicEmail">Email</label>
                <input type="email" class="form-control" id="inputBasicEmail" 
                #email1 value="{{user?.email}}" autocomplete="off" />
              </div>
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicPassword">Mot de passe</label>
                <input type="password" class="form-control" id="inputBasicPassword" 
                #pass1 value="{{user?.password}}" autocomplete="off" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicFirstName">Adresse</label>
                <input type="text" class="form-control" id="inputBasicFirstName"
                #add1 value="{{user?.adresse}}" autocomplete="off" />
              </div>
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Téléphone</label>
                <input type="text" class="form-control" id="inputBasicLastName"
                #tel1 value="{{user?.telephone}}" autocomplete="off" />
              </div>
            </div>
            <div class="form-group form-material" style="margin-top: 20px;">
              <button type="submit" class="btn btn-primary" 
              style="margin-right:5px;background-color: #36459b;border-color: #36459b;height: 37px;"
              (click)="editProfile(nom1.value, prenom1.value, email1.value, pass1.value, add1.value, tel1.value)">
              Enregistrer</button>
              <button type="reset" class="btn btn-light" style="background-color: rgb(192 189 189);border-color: rgb(192 189 189);
              height: 37px;"
               (click)="resetBtn()">Annuler</button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Example Basic Form (Form row) -->
    </div>
  </div>
</div>
</div>
<!-- End Panel -->

<!-- Page -->
<script src="../../../assets/js/Site.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/js/Plugin/asscrollable.minfd53.js?v4.0.1"></script>

<script src="../../../assets/global/js/Plugin/slidepanel.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/js/Plugin/switchery.minfd53.js?v4.0.1"></script>

<script src="../../../assets/global/js/Plugin/responsive-tabs.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/js/Plugin/tabs.minfd53.js?v4.0.1"></script>


<!-- Plugins -->
<script src="../../../assets/global/vendor/switchery/switchery.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/vendor/intro-js/intro.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/vendor/screenfull/screenfull.minfd53.js?v4.0.1"></script>
<script src="../../../assets/global/vendor/slidepanel/jquery-slidePanel.minfd53.js?v4.0.1"></script>