<app-header></app-header>
<div class="page">
    <div class="page-header">
      <h1 class="page-title mb-10">{{ 'patient.title' | translate }}</h1>
    </div>
    <div class="page-content">
        <form action="#" method="post">
              <div class="input-search input-search-dark">
                <i class="input-search-icon md-search" aria-hidden="true"></i>
                <input type="text" [(ngModel)]="term" class="form-control" name="search" 
                placeholder="{{ 'search.placeholder' | translate }}..." style="MARGIN-TOP: -20PX; margin-bottom: 30PX;">
              </div>
        </form>
      <div class="documents-wrap categories" data-plugin="animateList" data-child="li">
        <ul class="blocks blocks-100 blocks-xxl-4 blocks-lg-3 blocks-sm-2" data-plugin="matchHeight">
          <li *ngFor= "let patient of patients | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage } | filter:term; let i=index;">
            <div class="category">
              <div class="icon-wrap">
                <a class="avatar avatar-lg" style="width: 30%;">
                    <img src="../../../assets/images/avatar.jpg" alt="...">
                </a>
              </div>
              <h4 style="margin-top: 15px;">{{patient?.prenom | titlecase}} {{patient?.nom | titlecase}}</h4>
            <small><cite>{{patient?.adresse}}
            &nbsp;<i class="icon md-pin" aria-hidden="true"></i></cite></small>
            <p>
                <i class="icon md-email" aria-hidden="true"></i> &nbsp;{{patient?.email}}
                <br/>
                <i class="icon md-phone" aria-hidden="true"></i> &nbsp;{{patient?.telephone}}
            </p>
              <div class="btn-group hidden-sm-down" id="exampleTableEventsToolbar" role="group">
                <button type="button" class="btn btn-primary btn-icon"
                (click)="viewProfile(patient?.id)">
                  <i class="icon md-account" aria-hidden="true"></i>
                  <span>{{ 'profile.view' | translate }}</span>
                </button>
                <button type="button" class="btn btn-danger btn-icon"
                (click)= "setSelectedpatient(patient)"
                data-toggle="modal" 
                data-target="#cancelModal">
                <i class="icon md-delete" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-footer">
        <nav>
          <ul class="pagination page-item" style="margin-left: 40%;">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </ul>
        </nav>
    </div>
     <!-- Site Action -->
     <div class="site-action" data-plugin="actionBtn">
        <button type="button" class=" btn-circle site-action-toggle btn-raised btn btn-success btn-floating"
        tooltip="Ajouter un Patient"
        data-toggle="modal" 
        data-target="#addModal">
          <i class="front-icon md-account-add animation-scale-up" aria-hidden="true" style="FONT-SIZE: 30PX;"></i>
        </button>
     </div>
      <!-- End Site Action -->
  </div>
<app-footer></app-footer>
<!-- Modal -->
<div class="modal" id="cancelModal">
    <div class="modal-dialog modal-simple modal-center">
      <div class="modal-content">
        <div class="modal-header">
          <h4 >{{ 'modal.delete-title-patient' | translate }}?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure" 
          style="font-size: 13px;font-weight: 500;"
          data-dismiss="modal">{{ 'modal.closeBtn' | translate }}</button>
          <button type="button" class="btn btn-primary"
           data-dismiss="modal" style="font-size: 13px;font-weight: 500;"
           (click)="deletepatient()">{{ 'modal.confirmBtn' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
<!-- End Modal -->
<!-- Modal -->
<div class="modal fade" id="addModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
role="dialog" tabindex="-1">
<div class="modal-dialog modal-simple modal-center">
  <div class="modal-content" style="width:700px;margin-left: -100px;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">{{ 'modal.add-title-patient' | translate }}</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="addUserForm" method="post">
            <div class="form-row">
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicFirstName" style="margin-top: 10px;">{{ 'register.lastName' | translate }}</label>
                <input type="text" class="form-control" formControlName="nom">
              </div>
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicLastName" style="margin-top: 10px;">{{ 'register.firstName' | translate }}</label>
                <input type="text" class="form-control" formControlName="prenom">
              </div>
            </div>
          <div class="form-row">
           <div class="dropdown form-group form-material col-md-6" >
            <label class="form-control-label" for="inputBasicGenre">{{ 'register.gender' | translate }}</label>
            <select class="browser-default custom-select form-control" formControlName="genre">
                <option *ngFor="let gen of genre" [ngValue]="gen">
                  {{ gen }}
                </option>
              </select>   
            </div>
            <div class="dropdown form-group form-material col-md-6" >
              <label class="form-control-label" for="inputBasicLangue">{{ 'register.langue' | translate }}</label><br>
              <select class="form-control form-control-sm" formControlName="langue">
              <option *ngFor="let lan of langue" [ngValue]="lan">
                {{ lan }}
                </option>
              </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicEmail">{{ 'login.email' | translate }}</label>
                <input type="email" class="form-control" formControlName="email">
              </div>
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicPassword">{{ 'login.password' | translate }}</label>
                <input type="password" class="form-control" formControlName="password">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicFirstName">{{ 'register.address' | translate }}</label>
                <input type="text" class="form-control" formControlName="adresse">
              </div>
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicLastName">{{ 'register.phone' | translate }}</label>
                <input type="text" class="form-control" formControlName="telephone">
              </div>
            </div>
          </form>
          <form [formGroup]="addPatientForm" method="post">
            <div class="form-row">
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicLastName">{{ 'register.birthDate' | translate }}</label>
                <input type="date" class="form-control" formControlName="dateNaiss">
              </div>
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicLastName">{{ 'register.profession' | translate }}</label>
                <input type="text" class="form-control" formControlName="profession">
              </div>
            </div>
          </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-pure" data-dismiss="modal"
      style="font-size: 13px;font-weight: 500;">{{ 'modal.cancelBtn' | translate }}</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal"
      style="font-size: 13px;font-weight: 500;"
      (click)="addUser()">{{ 'modal.addBtn' | translate }}</button>
    </div>
  </div>
</div>
</div>
<!-- End Modal -->

  <!-- Plugins For This Page -->
  <script src="../../../assets/global/vendor/matchheight/jquery.matchHeight-minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/bootstrap-select/bootstrap-select.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/stickyfill/stickyfill.minfd53.js?v4.0.1"></script>

  <!-- Page -->
  <script src="../../../assets/js/Site.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/asscrollable.minfd53.js?v4.0.1"></script>

  <script src="../../../assets/global/js/Plugin/slidepanel.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/switchery.minfd53.js?v4.0.1"></script>

  <script src="../../../assets/global/js/Plugin/matchheight.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/bootstrap-select.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/animate-list.minfd53.js?v4.0.1"></script>


  <script src="../../../assets/js/Site.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/js/App/Documents.minfd53.js?v4.0.1"></script>

  <script src="../../../assets/examples/js/apps/documents.minfd53.js?v4.0.1"></script>

