<div class="panel">
    <div class="panel-heading" style="margin-bottom: 30px;">
      <h2 class="panel-title">Liste des secretaires</h2>
      <div class="page-header-actions">
        <form action="#" method="post">
          <div class="input-search input-search-dark">
            <i class="input-search-icon md-search" aria-hidden="true"></i>
            <input type="text" [(ngModel)]="term" class="form-control" name="search" placeholder="Search...">
          </div>
        </form>
        </div>
      <div style="float: right;
      margin-top: 10px;
      MARGIN-BOTTOM: 20PX;
      margin-right: 30px;">
          <button type="button" class="btn btn-round btn-primary waves-effect waves-light waves-round" 
          data-toggle="modal" 
          data-target="#addModal"
          style="font-size: 14px;font-weight: 500;">
          <i class="icon md-plus" aria-hidden="true"></i>
          Ajouter une secretaire</button>

      </div>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th style="width:5%;"></th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Genre</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Action</th>
          </tr>
        </thead>
                    <tbody>
                      <tr *ngFor="let sec of secMedecin | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage } |filter:term; let i=index;" >
                        <td style="font-weight: 600;color: #616161;">{{ itemsPerPage * (currentPage - 1) + (i+1) }}</td>
                        <td>{{sec?.nom}}</td>
                        <td>{{sec?.prenom}}</td>
                        <td>{{sec?.email}}</td>
                        <td>{{sec?.genre}}</td>
                        <td>{{sec?.telephone}}</td>
                        <td>{{sec?.adresse}}</td>
                        <td class="text-nowrap">
                          <div class="btn-group hidden-sm-down" id="exampleTableEventsToolbar" role="group">
                              <button type="button" class="btn btn-primary btn-icon"
                              tooltip="Modifier secretaire"
                              (click)= "setSelectedSec(sec)"
                              data-toggle="modal" 
                              data-target="#editModal">
                                <i class="icon md-edit" aria-hidden="true"></i>
                              </button>
                              <button type="button" class="btn btn-danger btn-icon" (click)="deleteSec(sec?.id)">
                                <i class="icon md-delete" aria-hidden="true"></i>
                              </button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="panel-footer">
                <nav>
                  <ul class="pagination page-item" style="margin-left: 40%;">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                  </ul>
                </nav>
                </div>
              </div>
 

    <!-- Modal -->
    <div class="modal fade" id="addModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
    role="dialog" tabindex="-1">
    <div class="modal-dialog modal-simple modal-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Ajouter une secretaire</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="RegisterForm" method="post">
              <div class="form-group form-material row">
                <label class="col-md-3 col-form-label">Nom: </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" formControlName="nom">
                </div>
              </div>
              <div class="form-group form-material row">
                <label class="col-md-3 col-form-label">Prénom: </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" formControlName="prenom">
                </div>
              </div>
              <div class="form-group form-material row">
                  <label class="col-md-3 col-form-label">Email: </label>
                  <div class="col-md-9">
                    <input type="email" class="form-control" formControlName="email">
                  </div>
              </div>
              <div class="form-group form-material row">
                <label class="col-md-3 col-form-label">Mot de passe: </label>
                <div class="col-md-9">
                  <input type="password" class="form-control" formControlName="password">
                </div>
            </div>
              <div class="form-group example row">
                  <label class="col-md-3 col-form-label">Genre: </label>
                  <select class="form-control form-control-sm col-md-8" formControlName="genre" 
                  style="margin-left: 15px;">
                  <option *ngFor="let gen of genre" [ngValue]="gen">
                    {{ gen }}
                    </option>
                  </select>
              </div>
                <div class="form-group example row">
                  <label class="col-md-3 col-form-label">La version de l'application: </label>
                  <select class="form-control form-control-sm col-md-8" formControlName="langue" 
                  style="margin-left: 15px;">
                  <option *ngFor="let lan of langue" [ngValue]="lan">
                    {{ lan }}
                    </option>
                  </select>
                </div>
                <div class="form-group form-material row">
                  <label class="col-md-3 col-form-label">Adresse: </label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" formControlName="adresse">
                  </div>
              </div>
              <div class="form-group form-material row">
                <label class="col-md-3 col-form-label">Téléphone: </label>
                <div class="col-md-9">
                  <input type="tel" class="form-control" formControlName="telephone">
                </div>
            </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure" data-dismiss="modal"
          style="font-size: 13px;font-weight: 500;">Annuler</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
          style="font-size: 13px;font-weight: 500;"
          (click)="addUser()">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->

  <!-- Modal -->
  <div class="modal fade" id="editModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
  role="dialog" tabindex="-1">
  <div class="modal-dialog modal-simple modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Modifier les informations de secretaire</h4>
      </div>
     <div class="modal-body">
         <form>
            <div class="form-group form-material row">
              <label class="col-md-3 col-form-label">Nom: </label>
              <div class="col-md-9">
                <input type="text" class="form-control"  #nom1 value="{{selectedSec?.nom}}">
              </div>
            </div>
            <div class="form-group form-material row">
                <label class="col-md-3 col-form-label">Prénom: </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" #prenom1 value="{{selectedSec?.prenom}}">
                </div>
            </div>
            <div class="form-group form-material row">
              <label class="col-md-3 col-form-label">Email: </label>
              <div class="col-md-9">
                <input type="email" class="form-control" #email1 value="{{selectedSec?.email}}">
              </div>
          </div>
          <div class="form-group form-material row">
            <label class="col-md-3 col-form-label">Mot de passe: </label>
            <div class="col-md-9">
              <input disabled type="password" class="form-control" value="{{selectedSec?.password}}">
            </div>
        </div>
        <div class="dropdown form-group form-material row" >
          <label class="col-md-3 col-form-label">Genre: </label>
          <button 
          style="background-color: white;color: black;border-color: #d0d0d0;margin-left: 15px;"
          class="btn btn-secondary dropdown-toggle col-md-8" type="button" id="dropdownMenuButton" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ getGenre(genreToEdit)}}   
          </button>
          <div class="dropdown-menu col-md-8" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item col-lg-11" #femme style="cursor: pointer;" (click)="setGenre(femme)">Femme</a>
            <a class="dropdown-item col-lg-11" #homme style="cursor: pointer;" (click)="setGenre(homme)">Homme</a>
          </div>
        </div>
        <div class="dropdown form-group form-material row" >
          <label class="col-md-3 col-form-label">La version de l'application: </label>
          <button 
          style="background-color: white;color: black;border-color: #d0d0d0;margin-left: 15px;height: 34px;"
          class="btn btn-secondary dropdown-toggle col-md-8" type="button" id="dropdownMenuButton" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ getLangue(langueToEdit)}}   
          </button>
          <div class="dropdown-menu col-md-8" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item col-lg-11" #fr style="cursor: pointer;" (click)="setLangue(fr)">Français</a>
            <a class="dropdown-item col-lg-11" #en style="cursor: pointer;" (click)="setLangue(en)">Anglais</a>
            <a class="dropdown-item col-lg-11" #de style="cursor: pointer;" (click)="setLangue(de)">Allemand</a>
          </div>
        </div>
        <div class="form-group form-material row">
          <label class="col-md-3 col-form-label">Adresse: </label>
          <div class="col-md-9">
            <input type="text" class="form-control"  #adresse1 value="{{selectedSec?.adresse}}">
          </div>
        </div><div class="form-group form-material row">
          <label class="col-md-3 col-form-label">Téléphone: </label>
          <div class="col-md-9">
            <input type="tel" class="form-control"  #tel1 value="{{selectedSec?.telephone}}">
          </div>
        </div>
          </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-pure" data-dismiss="modal"
        style="font-size: 13px;font-weight: 500;">Annuler</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
        style="font-size: 13px;font-weight: 500;"
        (click)="editSec(nom1.value, prenom1.value, email1.value,adresse1.value,tel1.value)">
        Modifier</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

  <!-- Plugins For This Page -->
  <script src="../../../assets/global/vendor/slidepanel/jquery-slidePanel.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/chartist/chartist.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/jquery-selective/jquery-selective.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/aspaginator/jquery-asPaginator.minfd53.js?v4.0.1"></script>

  <!-- Page -->
  <script src="../../../assets/js/Site.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/asscrollable.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/slidepanel.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/switchery.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/aspaginator.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/js/BaseApp.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/js/App/Work.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/examples/js/apps/work.minfd53.js?v4.0.1"></script>
 
