
<div class="panel nav-tabs-horizontal" data-plugin="tabs">
    <div class="panel-heading">
      <h2 class="panel-title" style="margin-bottom: 15px;">{{ 'consultation.title' | translate }}</h2>
    </div>
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#exampleTopOrdonnance"
          aria-controls="exampleTopHome" role="tab">{{ 'consultation.tab1' | translate }}</a>
      </li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleTopImages" aria-controls="exampleTopCss"
          role="tab">{{ 'consultation.tab2' | translate }}</a>
      </li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleTopAnalyses"
          aria-controls="exampleTopJavascript" role="tab">{{ 'consultation.tab3' | translate }}</a>
      </li>
    </ul>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane active" id="exampleTopOrdonnance" role="tabpanel">  
        <app-ordonnance-patient></app-ordonnance-patient>            
        </div>
        <div class="tab-pane" id="exampleTopImages" role="tabpanel">
          <form action="#" method="post" *ngIf="!isEmpty">
            <div class="input-search input-search-dark">
              <i class="input-search-icon md-search" aria-hidden="true"></i>
              <input type="text" [(ngModel)]="term" class="form-control" name="search" placeholder="{{ 'search.placeholder' | translate }}...">
            </div>
          </form>
          <div id="exampleCustomGridField" style="margin-top: 40px;
          width: 80%;
          margin-left: 10%;
          MARGIN-BOTTOM: 40px;">
                    <table class="table">
                      <thead >
                        <tr *ngIf="!isEmpty">
                          <th style="width:12%;"></th>
                          <th>{{ 'register.lastName' | translate }}</th>
                          <th>{{ 'consultation.description' | translate }}</th>
                          <th style="width: 15%;">Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let radio of radios | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage } | filter:term; let i=index;">
                          <td style="font-weight: 600;color: #616161;padding-left: 60px;">{{ itemsPerPage * (currentPage - 1) + (i+1) }}</td>
                          <td>{{radio?.nom}}</td>
                          <td>{{radio?.description}}</td>
                          <td>{{rad[i]}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <nav *ngIf="!isEmpty">
                    <ul class="pagination page-item" style="margin-left: 40%;">
                      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                    </ul>
                  </nav>
                </div>
        <div class="tab-pane" id="exampleTopAnalyses" role="tabpanel">
            <form action="#" method="post" *ngIf="!isEmptyAnal">
              <div class="input-search input-search-dark">
                <i class="input-search-icon md-search" aria-hidden="true"></i>
                <input type="text" [(ngModel)]="term2" class="form-control" name="search" placeholder="{{ 'search.placeholder' | translate }}...">
              </div>
            </form>
                <div id="exampleCustomGridField" style="margin-top: 40px;
                width: 80%;
                margin-left: 10%;
                MARGIN-BOTTOM: 40px;">
                            <table class="table">
                              <thead >
                                <tr *ngIf="!isEmptyAnal">
                                  <th style="width:12%;"></th>
                                  <th>{{ 'register.lastName' | translate }}</th>
                                  <th>{{ 'consultation.description' | translate }}</th>
                                  <th style="width: 15%;">Type</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let analyse of analyses | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage } |filter:term2; let i=index;">
                                  <td style="font-weight: 600;color: #616161;padding-left: 60px;">{{ itemsPerPage * (currentPage - 1) + (i+1) }}</td>
                                  <td>{{analyse?.nom}}</td>
                                  <td>{{analyse?.description}}</td>
                                  <td>{{anal[i]}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <nav *ngIf="!isEmptyAnal">
                            <ul class="pagination page-item" style="margin-left: 40%;">
                              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
