<!-- Example Tabs In The Panel -->
<div class="panel nav-tabs-horizontal" data-plugin="tabs">
    <div class="panel-heading">
      <h2 class="panel-title" style="margin-bottom: 15px;">Consultation</h2>
    </div>
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#exampleTopOrdonnance"
          aria-controls="exampleTopHome" role="tab">Ordonnance</a>
      </li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleTopImages" aria-controls="exampleTopCss"
          role="tab">Images Radio</a>
      </li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleTopAnalyses"
          aria-controls="exampleTopJavascript" role="tab">Analyses</a>
      </li>
    </ul>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane active" id="exampleTopOrdonnance" role="tabpanel">  
          <app-ordonnance></app-ordonnance>
        </div>
        <div class="tab-pane" id="exampleTopImages" role="tabpanel">
          <div id="exampleCustomGridField">
            <div style="float: right;">
              <button id="addPresButton" type="button" 
              class="btn btn-round btn-primary waves-effect waves-light waves-round" 
              data-toggle="modal" 
              data-target="#addImgRadioModal"
              style="font-size: 14px;font-weight: 500;margin-bottom: 20px;">
              <i class="icon md-plus" aria-hidden="true"></i>
              Ajouter image radio</button>
              <form action="#" method="post" style="float: left;
              margin-right: 685PX;
              width: 400PX;">
                <div class="input-search input-search-dark">
                  <i class="input-search-icon md-search" aria-hidden="true"></i>
                  <input type="text" [(ngModel)]="term" class="form-control" name="search" placeholder="Search...">
                </div>
              </form>
            </div>
            
           
          
            
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="width:12%;"></th>
                          <th>Nom</th>
                          <th>Description</th>
                          <th>Type</th>
                          <th style="width:12%">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let radio of radios | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage } | filter:term ;let i=index">
                          <td style="font-weight: 600;color: #616161;padding-left: 60px;">{{ itemsPerPage * (currentPage - 1) + (i+1) }}</td>
                          <td>{{radio?.nom}}</td>
                          <td>{{radio?.description}}</td>
                          <td>{{radio?.typeradio}}</td>
                          <!-- <td>{{getAnalyseName(analyse?.typeanalyse)}}</td> -->
                          <td class="text-nowrap">
                            <div class="btn-group hidden-sm-down" id="exampleTableEventsToolbar" role="group">
                                <button type="button" class="btn btn-primary btn-icon"
                                tooltip="Modifier image radio"
                                (click)= "setSelectedRadio(radio)"
                                data-toggle="modal" 
                                data-target="#editImgRadioModal">
                                  <i class="icon md-edit" aria-hidden="true"></i>
                                </button>
        
                                <button type="button" class="btn btn-danger btn-icon" (click)="deleteRadio(radio?.id)">
                                  <i class="icon md-delete" aria-hidden="true"></i>
                                </button>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <nav>
                    <ul class="pagination page-item" style="margin-left: 40%;">
                      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                    </ul>
                  </nav>
                </div>
        <div class="tab-pane" id="exampleTopAnalyses" role="tabpanel">
                <div id="exampleCustomGridField">
                    <div style="float: right;">
                      <button id="addPresButton" type="button" 
                      class="btn btn-round btn-primary waves-effect waves-light waves-round" 
                      data-toggle="modal" 
                      data-target="#addModal"
                      style="font-size: 14px;font-weight: 500;margin-bottom: 20px;">
                      <i class="icon md-plus" aria-hidden="true"></i>
                      Ajouter analyse</button>
                      <form action="#" method="post" style="float: left;
                        margin-right: 715PX;
                        width: 400PX;">
                <div class="input-search input-search-dark">
                  <i class="input-search-icon md-search" aria-hidden="true"></i>
                  <input type="text" [(ngModel)]="term2" class="form-control" name="search" placeholder="Search...">
                </div>
              </form>
                    </div>
                            <table class="table">
                              <thead>
                                <tr>
                                  <th style="width:12%;"></th>
                                  <th>Nom</th>
                                  <th>Description</th>
                                  <th>Type</th>
                                  <th style="width:12%">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let analyse of analyses | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage } | filter: term2;let i=index">
                                  <td style="font-weight: 600;color: #616161;padding-left: 60px;">{{ itemsPerPage * (currentPage - 1) + (i+1) }}</td>
                                  <td>{{analyse?.nom}}</td>
                                  <td>{{analyse?.description}}</td>
                                  <td>{{analyse?.typeanalyse}}</td>
                                  <!-- <td>{{getAnalyseName(analyse?.typeanalyse)}}</td> -->
                                  <td class="text-nowrap">
                                    <div class="btn-group hidden-sm-down" id="exampleTableEventsToolbar" role="group">
                                        <button type="button" class="btn btn-primary btn-icon"
                                        tooltip="Modifier analyse"
                                        (click)= "setSelectedAnalyse(analyse)"
                                        data-toggle="modal" 
                                        data-target="#editModal"
                                        style="font-size: 13px;font-weight: 500;">
                                          <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon" 
                                        (click)="deleteAnalyse(analyse?.id)"
                                        style="font-size: 13px;font-weight: 500;">
                                          <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                      </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <nav>
                            <ul class="pagination page-item" style="margin-left: 40%;">
                              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
  
<!-- Modal -->
<div class="modal fade" id="addModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
role="dialog" tabindex="-1">
<div class="modal-dialog modal-simple modal-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">Ajouter une analyse</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="addAnalyseForm" method="post">
          <div class="form-group form-material row">
            <label class="col-md-3 col-form-label">Nom: </label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="nom">
            </div>
          </div>
          <div class="form-group form-material row">
              <label class="col-md-3 col-form-label">Description: </label>
              <div class="col-md-9">
                <input type="textarea" class="form-control" formControlName="description">
              </div>
            </div>
          <div class="form-group example row">
              <label class="col-md-3 col-form-label">Type: </label>
              <select class="form-control form-control-sm col-md-8" formControlName="typeanalyse" 
              style="margin-left: 15px;">
              <option *ngFor="let type of types" [ngValue]="type['@id']">
                  {{type?.analyse}}
                </option>
              </select>
            </div>

        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-pure" data-dismiss="modal"
      style="font-size: 13px;font-weight: 500;"
      >Annuler</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal"
      style="font-size: 13px;font-weight: 500;"
      (click)="addAnalyse()">Ajouter</button>
    </div>
  </div>
</div>
</div>
<!-- End Modal -->
<!-- Modal -->
<div class="modal fade" id="editModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
role="dialog" tabindex="-1">
<div class="modal-dialog modal-simple modal-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">Modifier l'analyse</h4>
    </div>
    <div class="modal-body">
      <form>
          <div class="form-group form-material row">
            <label class="col-md-3 col-form-label">Nom: </label>
            <div class="col-md-9">
              <input type="text" class="form-control"  #nom1 value="{{selectedAnalyse?.nom}}">
            </div>
          </div>
          <div class="form-group form-material row">
              <label class="col-md-3 col-form-label">Description: </label>
              <div class="col-md-9">
                <input type="textarea" class="form-control" #desc1 value="{{selectedAnalyse?.description}}">
              </div>
          </div>
          <div class="dropdown form-group form-material row" >
            <label class="col-md-3 col-form-label">Type: </label>
            <button 
            style="background-color: white;color: black;border-color: #d0d0d0;margin-left: 15px;"
            class="btn btn-secondary dropdown-toggle col-md-8" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{typeName}}
            </button>
            <div class="dropdown-menu col-md-8" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item col-lg-11" style="cursor: pointer;"
               *ngFor="let type of types" (click)="setType(type)">{{type?.analyse}}</a>
            </div>
      </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-pure" data-dismiss="modal"
      style="font-size: 13px;font-weight: 500;">Annuler</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal"
      (click)="editAnalyse(nom1.value, desc1.value)"
      style="font-size: 13px;font-weight: 500;">Modifier</button>
    </div>
  </div>
</div>
</div>
<!-- End Modal -->

<!-- Modal -->
<div class="modal fade" id="addImgRadioModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
role="dialog" tabindex="-1">
<div class="modal-dialog modal-simple modal-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">Ajouter une image radio</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="addRadioForm" method="post">
          <div class="form-group form-material row">
            <label class="col-md-3 col-form-label">Nom: </label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="nom">
            </div>
          </div>
          <div class="form-group form-material row">
              <label class="col-md-3 col-form-label">Description: </label>
              <div class="col-md-9">
                <input type="textarea" class="form-control" formControlName="description">
              </div>
            </div>
          <div class="form-group example row">
              <label class="col-md-3 col-form-label">Type: </label>
              <select class="form-control form-control-sm col-md-8" formControlName="typeradio" 
              style="margin-left: 15px;">
              <option *ngFor="let typer of typesradios" [ngValue]="typer['@id']">
                  {{typer?.radio}}
                </option>
              </select>
            </div>

        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-pure" data-dismiss="modal"
      style="font-size: 13px;font-weight: 500;">Annuler</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal"
      style="font-size: 13px;font-weight: 500;"
      (click)="addImgRadio()">Ajouter</button>
    </div>
  </div>
</div>
</div>
<!-- End Modal -->

<!-- Modal -->
<div class="modal fade" id="editImgRadioModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
role="dialog" tabindex="-1">
<div class="modal-dialog modal-simple modal-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">Modifier l'image radio</h4>
    </div>
    <div class="modal-body">
      <form>
          <div class="form-group form-material row">
            <label class="col-md-3 col-form-label">Nom: </label>
            <div class="col-md-9">
              <input type="text" class="form-control"  #nomz value="{{selectedRadio?.nom}}">
            </div>
          </div>
          <div class="form-group form-material row">
              <label class="col-md-3 col-form-label">Description: </label>
              <div class="col-md-9">
                <input type="textarea" class="form-control" #descz value="{{selectedRadio?.description}}">
              </div>
          </div>
          <div class="dropdown form-group form-material row" >
            <label class="col-md-3 col-form-label">Type: </label>
            <button 
            style="background-color: white;color: black;border-color: #d0d0d0;margin-left: 15px;"
            class="btn btn-secondary dropdown-toggle col-md-8" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{typeRadioName}}
            </button>
            <div class="dropdown-menu col-md-8" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item col-lg-11" style="cursor: pointer;" *ngFor="let typer of typesradios" (click)="setTypeRadio(typer)">{{typer?.radio}}</a>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-pure" data-dismiss="modal"
      style="font-size: 13px;font-weight: 500;">Annuler</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal"
      (click)="editRadio(nomz.value, descz.value)"
      style="font-size: 13px;font-weight: 500;">Modifier</button>
    </div>
  </div>
</div>
</div>
<!-- End Modal -->
