<div class="limiter" >
  <div class="container-login100" style="padding: 0px;background-color:#3949ab">
    <div class="wrap-login100" style="margin-top: -250px;margin-bottom: -100px;position: fixed;">
      <form [formGroup]="loginForm" method="post" class="login100-form validate-form" novalidate>
        <span class="login100-form-title p-b-26">
          {{ 'login.title' | translate }}
        </span>
        <div class="form-group wrap-input100 validate-input">
          <label><span class="focus-input100" >{{ 'login.email' | translate }}</span></label>
          <input class="input100 form-control"  formControlName="email" type="email" placeholder="{{ 'login.email' | translate }}*" name="email">
        </div>

        <div class="wrap-input100 validate-input">
          <label><span class="focus-input100" >{{ 'login.password' | translate }}</span></label>
          <input class="input100 form-control" formControlName="password" placeholder="{{ 'login.password' | translate }}*" type="password" name="pass">
        </div>
        <div *ngIf="errorMessage!=''" style="font-weight: 500;
        color: red;
        text-align: center;
        margin-top: -30px;
        margin-bottom: 10px;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji">
          {{ 'login.errorMessage' | translate }}
        </div>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit" class="login100-form-btn" style="background-color:#3949ab"
            (click)="login()">
            {{ 'login.submit' | translate }}
            </button>
          </div>
        </div>
        <div class="row" style="margin-left: 90px; MARGIN-TOP: 20px;">
                  <div class="col-md-2" style="padding: 0;"><a style="cursor: pointer;" (click)="useLanguage('fr')" role="menuitem">
                    <span class="flag-icon flag-icon-fr"></span></a></div>
                    <div class="col-md-2" style="padding: 0;"><a style="cursor: pointer;" (click)="useLanguage('en')" role="menuitem">
                    <span class="flag-icon flag-icon-gb"></span></a></div>
                    <div class="col-md-2" style="padding: 0;"><a style="cursor: pointer;" (click)="useLanguage('de')" role="menuitem">
                    <span class="flag-icon flag-icon-de"></span></a></div>
        </div>    
        <div class="text-center p-t-115" style="padding-top: 50px;">
          <span class="txt1">
            {{ 'login.span' | translate }}?
          </span>
          <a class="txt2" style="color: #3949ab;" routerLink="/register">
            {{ 'login.link' | translate }}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="../../assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="../../assets/login/vendor/animsition/js/animsition.min.js"></script>
<script src="../../assets/login/vendor/bootstrap/js/popper.js"></script>
<script src="../../assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/login/vendor/select2/select2.min.js"></script>
<script src="../../assets/login/vendor/daterangepicker/moment.min.js"></script>
<script src="../../assets/login/vendor/daterangepicker/daterangepicker.js"></script>
<script src="../../assets/login/vendor/countdowntime/countdowntime.js"></script>
<script src="../../assets/login/js/main.js"></script>
