<app-header></app-header>
<!-- Page -->
<div class="page">
    <div class="page-content">
      <h2>{{ 'demo.title' | translate }}</h2>
      <p>Page content goes here</p>
      <button></button>
    </div>
    <router-outlet></router-outlet>
  </div>
<!-- End Page -->
<app-footer></app-footer>

<!-- Plugins For This Page -->
<script src="../../assets/global/vendor/chartist/chartist.minfd53.js?v4.0.1"></script>
<script src="../../assets/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.minfd53.js?v4.0.1"></script>
<script src="../../assets/global/vendor/jvectormap/jquery-jvectormap.minfd53.js?v4.0.1"></script>
<script src="../../assets/global/vendor/jvectormap/maps/jquery-jvectormap-world-mill-enfd53.js?v4.0.1"></script>
<script src="../../assets/global/vendor/matchheight/jquery.matchHeight-minfd53.js?v4.0.1"></script>
<script src="../../assets/global/vendor/peity/jquery.peity.minfd53.js?v4.0.1"></script>

<!-- Page -->
<script src="../../assets/js/Site.minfd53.js?v4.0.1"></script>
<script src="../../assets/global/js/Plugin/asscrollable.minfd53.js?v4.0.1"></script>

<script src="../../assets/global/js/Plugin/slidepanel.minfd53.js?v4.0.1"></script>
<script src="../../assets/global/js/Plugin/switchery.minfd53.js?v4.0.1"></script>

<script src="../../assets/global/js/Plugin/matchheight.minfd53.js?v4.0.1"></script>
<script src="../../assets/global/js/Plugin/jvectormap.minfd53.js?v4.0.1"></script>
<script src="../../assets/global/js/Plugin/peity.minfd53.js?v4.0.1"></script>
<script src="../../assets/examples/js/dashboard/v1.minfd53.js?v4.0.1"></script>
