<div class="panel">
      <header class="panel-heading">
        <h2 class="panel-title">{{ 'componentTitles.rdv' | translate }}</h2>
        <div class="page-header-actions row" *ngIf="!isEmpty">
          <div class="col-md-6">
            <select class="browser-default custom-select form-control" style="height: auto;" #etat (change)="filterByEtat(etat)">
              <option>Tous les états</option>
              <option>Non consulté</option>
              <option>Consulté</option>
              <option>Annulé</option>
            </select>
          </div>
          <div class="col-md-6">
            <form action="#" method="post">
              <div class="input-search input-search-dark">
                <i class="input-search-icon md-search" aria-hidden="true"></i>
                <input type="text" [(ngModel)]="term" class="form-control" name="search" placeholder="{{ 'search.placeholder' | translate }}...">
              </div>
            </form>
          </div>
        </div>
      </header>
      <div class="panel-body">
                    <table class="table" style="margin-top: 30PX;">
                      <thead>
                        <tr *ngIf="!isEmpty">
                          <th ></th>
                          <th >{{ 'rdv.date' | translate }}</th>
                          <th>{{ 'rdv.hour' | translate }}</th>
                          <th >{{ 'rdv.patient' | translate }}</th>
                          <th >{{ 'rdv.state' | translate }}</th>
                          <th style="width: 120px;">{{ 'register.action' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let rdv of rdvs  | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage } | filter:term; let i=index;" >
                          <td style="font-weight: 600;color: #616161;padding-left: 30px;">
                            {{ itemsPerPage * (currentPage - 1) + (i+1) }}</td>
                          <td><i class="icon md-calendar"></i>&nbsp;{{rdv?.date | date:'dd/MM/yyyy'}}</td>
                          <td><i class="icon md-time"></i>&nbsp;{{rdv?.heure | date:'shortTime'}}</td>
                          <td>{{patientNom[i]}}</td>
                          <td class="work-status" *ngIf = "rdv?.etat == 'Annulé'">
                            <span class="badge badge-danger" style="font-size: 12px;">{{rdv?.etat}}</span>
                          </td>
                          <td class="work-status" *ngIf = "rdv?.etat == 'Consulté'">
                            <span class="badge badge-success" style="font-size: 12px;">{{rdv?.etat}}</span>
                          </td>
                          <td class="work-status" *ngIf = "rdv?.etat == 'Non consulté'">
                            <span class="badge badge-primary" style="font-size: 12px;">{{rdv?.etat}}</span>
                          </td>
                          <td class="text-nowrap">
                            <div class="btn-group hidden-sm-down" id="exampleTableEventsToolbar" role="group">
                                <button type="button" class="btn btn-primary btn-icon"
                                tooltip="Modifier rendez-vous"
                                (click)= "setSelectedRdv(rdv)"
                                data-toggle="modal" 
                                data-target="#editModal">
                                  <i class="icon md-edit" aria-hidden="true"></i>
                                </button>
        
                                <button type="button" class="btn btn-danger btn-icon"  
                                (click)= "setSelectedRdv(rdv)"
                                data-toggle="modal" 
                                data-target="#cancelModal">
                                  <i class="icon md-delete" aria-hidden="true"></i>
                                </button>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <!-- End Example Bordered Table -->
                <!-- Example Basic Pagination -->
                  <nav *ngIf="!isEmpty">
                    <ul class="pagination page-item" style="margin-left: 40%;">
                      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                    </ul>
                  </nav>
              <!-- End Example Basic Pagination -->
              </div>
              <!-- Site Action -->
  <div class="site-action" data-plugin="actionBtn">
    <button type="button" class=" btn-circle site-action-toggle btn-raised btn btn-success btn-floating"
    tooltip="Ajouter Médecin"
    data-toggle="modal" 
    data-target="#addModal">
      <i class="front-icon md-account-add animation-scale-up" aria-hidden="true" style="FONT-SIZE: 30PX;"></i>
    </button>
 </div>
  <!-- End Site Action -->
<!-- Modal -->
<div class="modal" id="cancelModal">
  <div class="modal-dialog modal-simple modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <h4>{{ 'rdv.delete' | translate }}?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-pure" 
        style="font-size: 13px;font-weight: 500;"
        data-dismiss="modal">{{ 'modal.closeBtn' | translate }}</button>
        <button type="button" class="btn btn-primary"
         data-dismiss="modal" style="font-size: 13px;font-weight: 500;"
         (click)="deleteRdv()">{{ 'modal.confirmBtn' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
      <!-- Modal -->
      <div class="modal fade" id="addModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
      role="dialog" tabindex="-1">
      <div class="modal-dialog modal-simple modal-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">{{ 'rdv.add' | translate }}</h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="addRdvForm" method="post">
                <div class="form-group form-material row">
                  <label class="col-md-3 col-form-label">{{ 'rdv.date' | translate }}</label>
                  <div class="col-md-9">
                    <input type="date" class="form-control" formControlName="date">
                  </div>
                </div>
                <div class="form-group form-material row">
                    <label class="col-md-3 col-form-label">{{ 'rdv.hour' | translate }}</label>
                    <div class="col-md-9">
                      <input type="time" class="form-control" formControlName="heure">
                    </div>
                  </div>
                <div class="form-group example row">
                    <label class="col-md-3 col-form-label">{{ 'rdv.patient' | translate }} </label>
                    <select class="form-control form-control-sm col-md-8" formControlName="patient" 
                    style="margin-left: 15px;">
                    <option *ngFor="let patient of patients;let i=index;" [ngValue]="patient['@id']">
                        {{patientDetail[i]}}
                      </option>
                    </select>
                  </div>
  
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">{{ 'modal.cancelBtn' | translate }}</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal"
            (click)="addRdv()">{{ 'modal.saveBtn' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->

    <!-- Modal -->
    <div class="modal fade" id="editModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
    role="dialog" tabindex="-1">
    <div class="modal-dialog modal-simple modal-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">{{ 'rdv.edit' | translate }}</h4>
        </div>
        <div class="modal-body">
          <form>
              <div class="form-group form-material row">
                <label class="col-md-3 col-form-label">{{ 'rdv.date' | translate }}</label>
                <div class="col-md-9">
                  <input type="date" class="form-control"  #date1 value="{{selectedRdv?.date |  date : 'yyyy-MM-dd'}}">
                </div>
              </div>
              <div class="form-group form-material row">
                  <label class="col-md-3 col-form-label">{{ 'rdv.hour' | translate }}</label>
                  <div class="col-md-9">
                    <input type="time" class="form-control" #heure1 value="{{selectedRdv?.heure | date:'hh:mm'}}">
                  </div>
              </div>
              <div class="dropdown form-group form-material row" >
                <label class="col-md-3 col-form-label">{{ 'rdv.state' | translate }}</label>
                <button 
                style="background-color: white;color: black;border-color: #d0d0d0;margin-left: 15px;"
                class="btn btn-secondary dropdown-toggle col-md-8" type="button" id="dropdownMenuButton" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{getEtat(etatToEdit)}}   
                </button>
                <div class="dropdown-menu col-md-8" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item col-lg-11" #noncons style="cursor: pointer;" (click)="setEtat(noncons)">Non consulté</a>
                  <a class="dropdown-item col-lg-11" #cons style="cursor: pointer;" (click)="setEtat(cons)">Consulté</a>
                  <a class="dropdown-item col-lg-11" #annul style="cursor: pointer;" (click)="setEtat(annul)">Annulé</a>
                </div>
          </div>
              

            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">{{ 'modal.cancelBtn' | translate }}</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="editRdv(date1.value, heure1.value)">{{ 'modal.editBtn' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
     <!-- Plugins For This Page -->
  <script src="../../../assets/global/vendor/bootstrap-table/bootstrap-table.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/bootstrap-table/extensions/mobile/bootstrap-table-mobile.minfd53.js?v4.0.1"></script>

  <!-- Page -->
  <script src="../../../assets/js/Site.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/asscrollable.minfd53.js?v4.0.1"></script>

  <script src="../../../assets/global/js/Plugin/slidepanel.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/switchery.minfd53.js?v4.0.1"></script>


  <script src="../../../assets/examples/js/tables/bootstrap.minfd53.js?v4.0.1"></script>