<div class="panel">
      <header class="panel-heading">
        <h2 class="panel-title">Liste des rendez-vous</h2>
        <div class="page-header-actions">
        <form action="#" method="post">
          <div class="input-search input-search-dark">
            <i class="input-search-icon md-search" aria-hidden="true"></i>
            <input type="text" [(ngModel)]="term" class="form-control" name="search" placeholder="Search...">
          </div>
        </form>
        </div>
        <div style="float: right;
        margin-top: 10px;
        MARGIN-BOTTOM: 20PX;
        margin-right: 30px;">
            <button type="button" class="btn btn-round btn-primary waves-effect waves-light waves-round" 
            data-toggle="modal" 
            data-target="#addModal">
                <i class="icon md-plus" aria-hidden="true"></i>
                Ajouter un rendez-vous</button>
        </div>
      </header>
      <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr >
                          <th ></th>
                          <th >Date</th>
                          <th>Heure</th>
                          <th >Patient</th>
                          <th >Etat</th>
                          <th style="width: 120px;">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let rdv of rdvs  | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage } | filter:term; let i=index;" >
                          <td style="font-weight: 600;color: #616161;padding-left: 30px;">
                            {{ itemsPerPage * (currentPage - 1) + (i+1) }}</td>
                          <td><i class="icon md-calendar"></i>&nbsp;{{rdv?.date | date:'dd/MM/yyyy'}}</td>
                          <td><i class="icon md-time"></i>&nbsp;{{rdv?.heure | date:'shortTime'}}</td>
                          <td>{{patientNom[i]}}</td>
                          <td class="work-status" *ngIf = "rdv?.etat == 'Annulé'">
                            <span class="badge badge-danger" style="font-size: 12px;">{{rdv?.etat}}</span>
                          </td>
                          <td class="work-status" *ngIf = "rdv?.etat == 'Consulté'">
                            <span class="badge badge-success" style="font-size: 12px;">{{rdv?.etat}}</span>
                          </td>
                          <td class="work-status" *ngIf = "rdv?.etat == 'Non consulté'">
                            <span class="badge badge-primary" style="font-size: 12px;">{{rdv?.etat}}</span>
                          </td>
                          <td class="text-nowrap">
                            <div class="btn-group hidden-sm-down" id="exampleTableEventsToolbar" role="group">
                                <button type="button" class="btn btn-primary btn-icon"
                                tooltip="Modifier rendez-vous"
                                (click)= "setSelectedRdv(rdv)"
                                data-toggle="modal" 
                                data-target="#editModal">
                                  <i class="icon md-edit" aria-hidden="true"></i>
                                </button>
        
                                <button type="button" class="btn btn-danger btn-icon" (click)="deleteRdv(rdv?.id)">
                                  <i class="icon md-delete" aria-hidden="true"></i>
                                </button>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <!-- End Example Bordered Table -->
                <!-- Example Basic Pagination -->
                  <nav>
                    <ul class="pagination page-item" style="margin-left: 40%;">
                      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                    </ul>
                  </nav>
              <!-- End Example Basic Pagination -->
              </div>

      <!-- Modal -->
      <div class="modal fade" id="addModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
      role="dialog" tabindex="-1">
      <div class="modal-dialog modal-simple modal-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Ajouter un rendez-vous</h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="addRdvForm" method="post">
                <div class="form-group form-material row">
                  <label class="col-md-3 col-form-label">Date</label>
                  <div class="col-md-9">
                    <input type="date" class="form-control" formControlName="date">
                  </div>
                </div>
                <div class="form-group form-material row">
                    <label class="col-md-3 col-form-label">Heure</label>
                    <div class="col-md-9">
                      <input type="time" class="form-control" formControlName="heure">
                    </div>
                  </div>
                <div class="form-group example row">
                    <label class="col-md-3 col-form-label">Patient: </label>
                    <select class="form-control form-control-sm col-md-8" formControlName="patient" 
                    style="margin-left: 15px;">
                    <option *ngFor="let patient of patients;let i=index;" [ngValue]="patient['@id']">
                        {{patientDetail[i]}}
                      </option>
                    </select>
                  </div>
  
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal"
            (click)="addRdv()">Enregister</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->

    <!-- Modal -->
    <div class="modal fade" id="editModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
    role="dialog" tabindex="-1">
    <div class="modal-dialog modal-simple modal-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Modifier le rendez-vous</h4>
        </div>
        <div class="modal-body">
          <form>
              <div class="form-group form-material row">
                <label class="col-md-3 col-form-label">Date</label>
                <div class="col-md-9">
                  <input type="date" class="form-control"  #date1 value="{{selectedRdv?.date |  date : 'yyyy-MM-dd'}}">
                </div>
              </div>
              <div class="form-group form-material row">
                  <label class="col-md-3 col-form-label">Heure</label>
                  <div class="col-md-9">
                    <input type="time" class="form-control" #heure1 value="{{selectedRdv?.heure | date:'hh:mm'}}">
                  </div>
              </div>
              <div class="dropdown form-group form-material row" >
                <label class="col-md-3 col-form-label">Etat</label>
                <button 
                style="background-color: white;color: black;border-color: #d0d0d0;margin-left: 15px;"
                class="btn btn-secondary dropdown-toggle col-md-8" type="button" id="dropdownMenuButton" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{getEtat(etatToEdit)}}   
                </button>
                <div class="dropdown-menu col-md-8" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item col-lg-11" #noncons style="cursor: pointer;" (click)="setEtat(noncons)">Non consulté</a>
                  <a class="dropdown-item col-lg-11" #cons style="cursor: pointer;" (click)="setEtat(cons)">Consulté</a>
                  <a class="dropdown-item col-lg-11" #annul style="cursor: pointer;" (click)="setEtat(annul)">Annulé</a>
                </div>
          </div>
              

            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="editRdv(date1.value, heure1.value)">Modifier</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
     <!-- Plugins For This Page -->
  <script src="../../../assets/global/vendor/bootstrap-table/bootstrap-table.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/bootstrap-table/extensions/mobile/bootstrap-table-mobile.minfd53.js?v4.0.1"></script>

  <!-- Page -->
  <script src="../../../assets/js/Site.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/asscrollable.minfd53.js?v4.0.1"></script>

  <script src="../../../assets/global/js/Plugin/slidepanel.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/switchery.minfd53.js?v4.0.1"></script>


  <script src="../../../assets/examples/js/tables/bootstrap.minfd53.js?v4.0.1"></script>