    <div class="panel">
      <div class="panel-heading">
        <h2 class="panel-title">Liste des rendez-vous</h2>
        <div class="page-header-actions">
          <form action="#" method="post">
            <div class="input-search input-search-dark">
              <i class="input-search-icon md-search" aria-hidden="true"></i>
              <input type="text" [(ngModel)]="term" class="form-control" name="search" placeholder="Search...">
            </div>
          </form>
        </div>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 9%;"></th>
              <th>Etat</th>
              <th>Date</th>
              <th>Heure</th>
              <th>Patient</th>
              <th style="width: 20%;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rdv of rdvs  | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage } | filter:term ;let i=index;">
              <td style="font-weight: 600;color: #616161;">{{ itemsPerPage * (currentPage - 1) + (i+1) }}</td>
              <td class="work-status" *ngIf = "rdv?.etat == 'Annulé'">
                <span class="badge badge-danger" style="font-size: 12px;">{{rdv?.etat}}</span>
              </td>
              <td class="work-status" *ngIf = "rdv?.etat == 'Consulté'">
                <span class="badge badge-success" style="font-size: 12px;">{{rdv?.etat}}</span>
              </td>
              <td class="work-status" *ngIf = "rdv?.etat == 'Non consulté'">
                <span class="badge badge-primary" style="font-size: 12px;">{{rdv?.etat}}</span>
              </td>
              <td class="subject">
                <i class="icon md-calendar"></i>&nbsp;{{rdv?.date | date:'dd/MM/yyyy'}}              
              </td>
              <td class="work-progress">
                <i class="icon md-time"></i>&nbsp;{{rdv?.heure | date:'shortTime'}}
              </td>
              <td class="subject">
                {{rdv?.patient}}
              </td>
              <td class="actions" *ngIf = "rdv?.etat == 'Non consulté'">
                  <button id="consulterBtn" type="button" class="btn btn-primary btn-icon"
                  tooltip="Ajouter consultation"
                  (click)= "setSelectedRdv(rdv)"
                  data-toggle="modal" 
                  data-target="#addModal"
                  style="margin-right: 1%;
                  font-size: 13px;
                  font-weight: 500;">
                  <i class="icon md-plus" aria-hidden="true"></i>
                  Consulter
                  </button>
                  <button type="button" id="annulerBtn" class="btn btn-dafault btn-icon"
                  tooltip="Annuler rendez-vous"
                  (click)= "setSelectedRdv(rdv)"
                  data-toggle="modal" 
                  data-target="#cancelModal"
                  style="background-color: #e0e0e0;
                  width: 100px;
                  font-size: 13px;
                  font-weight: 500;">
                  <i class="icon md-minus" aria-hidden="true"></i>
                  Annuler
                  </button>
              </td>
              <td class="actions" *ngIf = "rdv?.etat == 'Consulté'">
                <button id="AfficherBtn" type="button" class="btn  btn-icon"
                style="width: 200px;
                height: 35px;
                font-size: 13px;
                font-weight: 500;
                color: #4caf50;
                background-color: #fff;"
                (click)="AfficherConsultation(rdv?.id)">
                Afficher consultation
                </button>
              </td>
              <td class="actions" *ngIf = "rdv?.etat == 'Annulé'"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <nav>
          <ul class="pagination page-item" style="margin-left: 40%;">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </ul>
        </nav>
      </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="addModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
      role="dialog" tabindex="-1">
      <div class="modal-dialog modal-simple modal-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Ajouter une consultation</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group form-material row">
                <label class="col-md-3 col-form-label">Date</label>
                <div class="col-md-9">
                  <input type="date" class="form-control"  #date1 value="{{selectedRdv?.date |  date : 'yyyy-MM-dd'}}">
                </div>
              </div>
              <div class="form-group form-material row">
                  <label class="col-md-3 col-form-label">Heure</label>
                  <div class="col-md-9">
                    <input type="time" class="form-control" #heure1 value="{{selectedRdv?.heure | date:'hh:mm'}}">
                  </div>
              </div>
                <div class="form-group form-material row">
                    <label class="col-md-3 col-form-label">Prix</label>
                    <div class="col-md-9">
                      <input type="number" class="form-control" #prix1 placeholder="Précisez le prix de le consultation"
                       min="0" max="100" step="10" >
                    </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-pure" 
            style="font-size: 13px;font-weight: 500;" 
            data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" 
            style="font-size: 13px;font-weight: 500;" data-dismiss="modal"
            (click)="addcons(date1.value,heure1.value,prix1.value)">Enregister</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->

    <!-- Modal -->
    <div class="modal" id="cancelModal">
      <div class="modal-dialog modal-simple modal-center">
        <div class="modal-content">
          <div class="modal-header">
            <h4 >Annuler le rendez-vous? </h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" 
            style="font-size: 13px;font-weight: 500;"
            data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary"
             data-dismiss="modal" style="font-size: 13px;font-weight: 500;"
             (click)="annulercons()">Confirmer</button>
          </div>
        </div>
      </div>
    </div>

  <!-- Plugins For This Page -->
  <script src="../../../assets/global/vendor/slidepanel/jquery-slidePanel.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/chartist/chartist.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/jquery-selective/jquery-selective.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/aspaginator/jquery-asPaginator.minfd53.js?v4.0.1"></script>

  <!-- Page -->
  <script src="../../../assets/js/Site.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/asscrollable.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/slidepanel.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/switchery.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/aspaginator.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/js/BaseApp.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/js/App/Work.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/examples/js/apps/work.minfd53.js?v4.0.1"></script>