<div class="panel">
    <div class="panel-heading" style="margin-bottom: 30px;">
      <h2 class="panel-title">{{'patient.title' | translate}}</h2>
      <div class="page-header-actions" *ngIf="!isEmpty">
        <form action="#" method="post">
          <div class="input-search input-search-dark">
            <i class="input-search-icon md-search" aria-hidden="true"></i>
            <input type="text" [(ngModel)]="term" class="form-control" name="search" placeholder="{{'search.placeholder' | translate}}...">
          </div>
        </form>
        </div>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr *ngIf="!isEmpty">
            <th ></th>
            <th>{{'register.lastName' | translate}}</th>
            <th>{{'register.firstName' | translate}}</th>
            <th>{{'login.email' | translate}}</th>
            <th>{{'register.gender' | translate}}</th>
            <th>{{'register.phone' | translate}}</th>
            <th>{{'register.address' | translate}}</th>
            <!-- <th style="width:10%">Action</th> -->
          </tr>
        </thead>
                    <tbody>
                      <tr *ngFor="let patient of patientDetail | filter:term | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage }; let i=index;" >
                        <td style="font-weight: 600;color: #616161; WIDTH: 6%;PADDING-LEFT: 2%;">{{ itemsPerPage * (currentPage - 1) + (i+1) }}</td>
                        <td>{{patient?.nom}}</td>
                        <td>{{patient?.prenom}}</td>
                        <td>{{patient?.email}}</td>
                        <td>{{patient?.genre}}</td>
                        <td>{{patient?.telephone}}</td>
                        <td>{{patient?.adresse}}</td>
                        <!-- <td class="text-nowrap">
                          <div class="btn-group hidden-sm-down" id="exampleTableEventsToolbar" role="group">
                              <button type="button" class="btn btn-primary btn-icon"
                              tooltip="Modifier secretaire"
                              (click)= "setSelectedpatient(patient)"
                              data-toggle="modal" 
                              data-target="#editModal">
                                <i class="icon md-edit" aria-hidden="true"></i>
                              </button>
                              <button type="button" class="btn btn-danger btn-icon" (click)="deletepatient(patient?.id)">
                                <i class="icon md-delete" aria-hidden="true"></i>
                              </button>
                            </div>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="panel-footer">
                <nav *ngIf="!isEmpty">
                  <ul class="pagination page-item" style="margin-left: 40%;">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                  </ul>
                </nav>
  </div>
  <!-- Site Action -->
  <!-- <div class="site-action" data-plugin="actionBtn">
    <button type="button" class=" btn-circle site-action-toggle btn-raised btn btn-success btn-floating"
    tooltip="Ajouter Médecin"
    data-toggle="modal" 
    data-target="#addModal">
      <i class="front-icon md-account-add animation-scale-up" aria-hidden="true" style="FONT-SIZE: 30PX;"></i>
    </button>
 </div> -->
  <!-- End Site Action -->
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="addModal" aria-hidden="true" aria-labelledby="examplePositionCenter"
role="dialog" tabindex="-1">
<div class="modal-dialog modal-simple modal-center">
  <div class="modal-content" style="width:700px;margin-left: -100px;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">Ajouter un Patient</h4>
    </div>
    <div class="modal-body" style="padding: 2rem; margin-top: 5px;">
      <form  [formGroup]="RegisterForm" method="post">
        <div class="form-row">
        <div class="form-group form-material col-md-6" data-plugin="formMaterial">
          <input type="text" class="form-control"  formControlName="nom"/>
          <label class="floating-label">Nom</label>
        </div>
        <div class="form-group form-material  col-md-6" data-plugin="formMaterial">
          <input type="text" class="form-control"  formControlName="prenom"/>
          <label class="floating-label">Prénom</label>
        </div>
        </div>
        <div class="form-row">
        <div class="form-group form-material  col-md-6" data-plugin="formMaterial">
          <select class="browser-default custom-select form-control" formControlName="genre">
            <option *ngFor="let gen of genre" [ngValue]="gen">
              {{ gen }}
            </option>
          </select>              
          <label class="floating-label">Genre</label>
        </div>

        <div class="form-group form-material  col-md-6" data-plugin="formMaterial">
        <select class="browser-default custom-select form-control" formControlName="langue">
          <option *ngFor="let lan of langue" [ngValue]="lan">
            {{ lan }}
          </option>
        </select>
        <label class="floating-label">La version de l'application</label>
        </div>
        </div>
        <div class="form-row">
        <div class="form-group form-material  col-md-6" data-plugin="formMaterial">
          <input type="text" class="form-control"  formControlName="adresse"/>
          <label class="floating-label">Adresse</label>
        </div>

        <div class="form-group form-material  col-md-6" data-plugin="formMaterial">
          <input type="text" class="form-control"  formControlName="telephone"/>
          <label class="floating-label">Téléphone</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group form-material col-md-6" data-plugin="formMaterial">
          <input type="email" class="form-control"  formControlName="email"/>
          <label class="floating-label">Email</label>
        </div>

        <div class="form-group form-material  col-md-6" data-plugin="formMaterial">
          <input type="password" class="form-control"  formControlName="password"/>
          <label class="floating-label">Mot de passe</label>
        </div>
      </div>
      </form>
      <form  [formGroup]="RegisterFormPatient" method="post">
        <div class="form-row">
        <div class="form-group form-material  col-md-6" data-plugin="formMaterial">
          <input type="text" class="form-control"  formControlName="profession"/>
          <label class="floating-label">Profession</label>
        </div>
        
        <div class="form-group form-material  col-md-6" data-plugin="formMaterial">
          <input type="date" class="form-control"  formControlName="dateNaiss"/>
          <label class="floating-label">Date de naissance</label>
        </div>
      </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-pure" data-dismiss="modal"
      style="font-size: 13px;font-weight: 500;">Annuler</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal"
      style="font-size: 13px;font-weight: 500;"
      (click)="addUser()">Ajouter</button>
    </div>
  </div>
</div>
</div> -->
<!-- End Modal -->

  <!-- Plugins For This Page -->
  <script src="../../../assets/global/vendor/slidepanel/jquery-slidePanel.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/chartist/chartist.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/jquery-selective/jquery-selective.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/vendor/aspaginator/jquery-asPaginator.minfd53.js?v4.0.1"></script>

  <!-- Page -->
  <script src="../../../assets/js/Site.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/asscrollable.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/slidepanel.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/switchery.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/global/js/Plugin/aspaginator.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/js/BaseApp.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/js/App/Work.minfd53.js?v4.0.1"></script>
  <script src="../../../assets/examples/js/apps/work.minfd53.js?v4.0.1"></script>

