<app-header></app-header>
<!-- Page -->
<div class="page">
    <div class="page-content">
      <h2>Blank</h2>
      <p>Page content goes here</p>
    </div>
  </div>
<!-- End Page -->
<app-footer></app-footer>

<!-- Plugins For This Page -->
<script src="../../assets/global/vendor/chartist/chartist.minfd53.js?v4.0.1"></script>
<script src="../../assets/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.minfd53.js?v4.0.1"></script>
<script src="../../assets/global/vendor/jvectormap/jquery-jvectormap.minfd53.js?v4.0.1"></script>
<script src="../../assets/global/vendor/jvectormap/maps/jquery-jvectormap-world-mill-enfd53.js?v4.0.1"></script>
<script src="../../assets/global/vendor/matchheight/jquery.matchHeight-minfd53.js?v4.0.1"></script>
<script src="../../assets/global/vendor/peity/jquery.peity.minfd53.js?v4.0.1"></script>