@import "../../../assets/examples/css/pages/profile.minfd53.css";
  thead th{
    font-weight: 600;
    color: #616161;
    border-bottom-width: 1px;
    font-size: 15px;
  }
  .btn-circle {
    width: 60px;
    height: 60px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.site-action {
  margin-left:100%;  
  right: 32px;
  bottom: 55px;
  z-index: 1290;
  -webkit-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}
